@using System.Reflection
@using System.Runtime.InteropServices
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env

<html>
<body>
  <h3>Running in Docker!</h3>
  <table>
      @foreach(var field in env.GetType().GetProperties(BindingFlags.Public | BindingFlags.Instance))
      {
        <tr>
            <td>IHostingEnvironment.@field.Name</td>
            <td>@field.GetValue(env)</td>
        </tr>
      }

      @foreach(var field in typeof(RuntimeInformation).GetProperties(BindingFlags.Public | BindingFlags.Static))
      {
        <tr>
            <td>RuntimeInformation.@field.Name</td>
            <td>@field.GetValue(null)</td>
        </tr>
      }
  </table>
</body>
</html>