<h1>Simple Component</h1>

<input type="text" bind=@Name style="width:500px" />
<span>Hi: @Name</span>
<button onclick=@MyEvent>Fire MyEvent</button>

@functions {

    [Parameter]
    private string Name { get; set; }

    [Parameter]
    private Action MyEvent { get; set; }

    public void SetName(string name)
    {
        Name = name;
        StateHasChanged();
    }
    
}
