/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.my-component { border: 2px dashed red; padding: 1em; margin: 1em 0; background-image: url('background.png'); }

.uic-tag-selector { position: relative; border: 1px solid #ccc; }
.uic-tag-selector__box > span { background-color: #ccc; padding: 2px 4px; margin: 0 5px; }
.uic-tag-selector__box > span > span { cursor: pointer; }
.uic-tag-selector__item--selected { background-color: #ccc; }
.uic-tag-selector__dropdown { border: 1px solid #ccc; position: absolute; top: 100%; left: 0; right: 0; display: none; background-color: #fff; }
.uic-tag-selector__dropdown:hover .uic-tag-selector__item--selected { background-color: initial; }
.uic-tag-selector__dropdown > div { cursor: pointer; }
.uic-tag-selector__dropdown > div:hover { background-color: #ccc !important; }

.uic-tag-selector--open > .uic-tag-selector__dropdown { display: block; }