<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PWA App Demo</title>
    <link rel="manifest" href="manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" type="text/css">
    <link rel="stylesheet" href="/assets/normalize.css">
    <link rel="stylesheet" href="/assets/skeleton.css">
    <link rel="stylesheet" href="/assets/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/app/index.js" type="module"></script>
</head>

<body>
    <div id="app">

        <div v-if="!isLoggedIn" style="display: flex; justify-content: center; align-items: center; position: fixed; height: 100%;width:100%;">
            <form v-on:submit.prevent="login">
                <h1><img src="assets/icon-48.png" style="vertical-align: middle" /> PWA CHAT</h1>
                <label>Enter Your Name</label>
                <input type="text" class="u-full-width" v-model="username" />
                <button type="submit" class="button button-primary u-full-width">OK</button>
            </form>
        </div>

        <div class="container" v-if="isLoggedIn">
            <div class="row">
                <div class="column">
                    <div class="bubble me">
                        <span class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, soluta. Animi recusandae sit blanditiis accusantium aperiam beatae, eveniet nemo ea dignissimos voluptates sed sapiente. Modi iure accusantium quae culpa minus!</span>
                        <span class="user">Matthias</span>
                    </div>
                    <div class="bubble other">
                            <span class="message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, soluta. Animi recusandae sit blanditiis accusantium aperiam beatae, eveniet nemo ea dignissimos voluptates sed sapiente. Modi iure accusantium quae culpa minus!</span>
                            <span class="user">Matthias</span>
                        </div>
                </div>
            </div>
            <form class="row" v-on:submit.prevent="post">
                <div class="columns ten">
                    <input type="text" class="u-full-width" v-model="message"/>
                </div>
                <div class="columns two">
                    <button type="submit" class="button button-primary">SAY</button>
                </div>
            </form>
        </div>

    </div>
</body>
</html>