<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PWA App Demo</title>
    <link rel="manifest" href="manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" type="text/css">
    <link rel="stylesheet" href="/assets/normalize.css">
    <link rel="stylesheet" href="/assets/skeleton.css">
    <link rel="stylesheet" href="/assets/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/app/index.js" type="module"></script>
</head>

<body>
    <div id="app">

        <div v-if="!user" style="display: flex; justify-content: center; align-items: center; position: fixed; height: 100%;width:100%;">
            <form v-on:submit.prevent="login">
                <h1><img src="assets/icon-48.png" style="vertical-align: middle" /> PWA CHAT</h1>
                <!-- <label>Enter Your Name</label> -->
                <input type="text" placeholder="Your name" class="u-full-width" v-model="username" />
                <button type="submit" class="button button-primary u-full-width">Register</button>
            </form>
        </div>

        <div class="container" v-if="user">
            <div class="row">
                <div class="column">
                    <div v-bind:class="['bubble', isMyMessage(message) ? 'me' : 'other']" v-for="message in messages">
                        <span class="message">{{message.message}}</span>
                        <span class="user">{{message.username}}</span>
                    </div>
                </div>
            </div>
            <form class="row" v-on:submit.prevent="post">
                <div class="columns ten">
                    <input type="text" class="u-full-width" v-model="message"/>
                </div>
                <div class="columns two">
                    <button type="submit" class="button button-primary u-full-width">SAY</button>
                </div>
            </form>
        </div>

    </div>
</body>
</html>